{% include 'head.html' %}

<link rel="stylesheet" href="css/jquery.fileupload-ui.css">
<body>
{% include 'header.html' %}

<section id="main-content">

{% include '/admin/navbar.html.twig' %}
    <form id="fileupload" action="server/php/" method="POST" enctype="multipart/form-data">
<div class="accordion" id="accordion2">

	<section class="generic teal">
		<h1>Add a question</h1>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Add image/video - A <span class="icon-share-alt"></span></a> <a href="#" rel="tooltip" title="*required field"><span class="fill">*</span></a></h1>
			</div>

			<div id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Choose either a video or image to include on the first page of the question. </p>
					</div>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add a jpg image...</span>
                    <input type="file" name="files" >
                </span>
                <!-- The fileinput-button span is used to style the file input field as button 
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle"> -->
            </div>
            <div class="span5">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
        <!-- The loading indicator is shown during image processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>


					<div class="fill-info">
                                          <p><input type="radio" name="media1" value="Image"> Image: <input type="file" name"media1" placeholder="Choose and upload &raquo;"></input> <span class="greyed">image myphysics01.jpg uploaded</span></p>
                                          
                                          <p style="display: inline;"><input type="radio" name="media1" value="Image"></p>
                                          <form class="form-search" style="display: inline;">
                                            <label> Youtube Video: </label>
                                            <input type="text" class="input-medium search-query" placeholder="Copy and paste Youtube url here...">
                                            <button type="submit" class="btn">Submit</button>  <span class="icon-question-sign"></span>
                                          </form>
					</div>

				</div>
			</div>

		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Add image/video - B  <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Choose either a video or image to include on the first page ot the question. </p>
					</div>

					<div class="fill-info">
						<p>Image: <button class="btn">Choose and upload &raquo;</button> <span class="icon-question-sign"></span> <span class="greyed">image myphysics01.jpg uploaded</span></p>
						<form class="form-search">
							<label>Youtube Video: </label>
						  <input type="text" class="input-medium search-query" placeholder="Copy and paste Youtube url here...">
						  <button type="submit" class="btn">Submit</button>  <span class="icon-question-sign"></span>
						</form>
					</div>

				</div>
			</div>
		</article>
		
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Add Description <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Describe here what the description should be. Because I don’t know.</p>
					</div>

					<div class="fill-info">
						<form>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
				</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Select Concept Tags <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Select the correct corresponding tags as well as the full list of tags to be displayed for the question </p>
					</div>

					<div class="fill-info">
                                   
                          <label class="control-label">a) tags to display</label>
                          <div class="controls">
                              <select multiple="multiple" class="colored">
				{% for concept in concepts %}
                                      <option value="{{concept}}">{{concept}}</option>> 
                                {% endfor %}
                              </select>
                              <span class="icon-question-sign"></span>
                          </div> 
                          <label class="control-label">b) correct tags</label>
                          <div class="controls">
                              <select multiple="multiple" class="colored">
				{% for concept in concepts %}
                                      <option value="{{concept}}">{{concept}}</option>> 
                                {% endfor %}
                              </select>
                              <span class="icon-question-sign"></span>
                          </div> 
                          



                                        </div>
                                </div>
                        </div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Add new concept tags <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseFive" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Type element names required that do not appear in the above concept tag lists. Comma delimited, no quotes.</p>
					</div>

					<div class="fill-info">
						<form>
							<label class="control-label">a) add new correct concept elements</label>
						  <textarea></textarea><span class="icon-question-sign"></span>

							<label class="control-label">b) add new concept elements to display</label>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
			</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Define correct answer variables <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseSix" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Here you define the answer variables so that they correspond to the image for the question. You first define whether the answers are alpha or numeric, then the number of choices and finally the correct answer.</p>
					</div>
                                  
					<div class="fill-info">
                                          <div style="margin-bottom: 5px;"><label style="display: inline">Select answer style</label>: <input type="radio" name="media1" value="alpha"> alpha (a,b,c) | <input type="radio" name="media1" value="numeric"> numberic (1,2,3)</div>
						<label style="display: inline;">Number of choices:</label>
                                                <select style="width: 50px;">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>

						<form class="form-search">
							<label>Correct answer: </label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox4" value="option4"> 4
							</label>
						</form>

						<form class="form-search">
							<label>Second best answer: </label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox4" value="option4"> 4
							</label>
						</form>
					</div>
			</div>
			</div>
		</article>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">Add rationale <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseSeven" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="context">
						<p class="greyed">Type in the corect rationale for the question.</p>
					</div>

					<div class="fill-info">
						<form>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
			</div>
			</div>
		</article>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">Save question</a></h1>
			</div>
			<div id="collapseEight" class="accordion-body collapse in">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Click button to save your data and add you question to the All Questions List.</p>
					</div>

					<div class="fill-info">
						<button class="btn btn-success">Save question »</button>
					</div>
			</div>
			</div>
		</article>

	</section>
	
</div>
</form>	
</section>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete"> <!--
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1"> -->
        </td>
    </tr>
{% } %}
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="../vendors/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="../vendors/jQuery-File-Upload/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="../vendors/jQuery-File-Upload/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="../vendors/jQuery-File-Upload/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<script src="../vendors/jQuery-File-Upload/js/bootstrap.min.js"></script>
<script src="../vendors/jQuery-File-Upload/js/bootstrap-image-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../vendors/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="../vendors/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<!-- The File Upload image processing plugin -->
<script src="../vendors/jQuery-File-Upload/js/jquery.fileupload-ip.js"></script>
<!-- The File Upload user interface plugin -->
<script src="../vendors/jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>
<!-- The localization script -->
<script src="../vendors/jQuery-File-Upload/js/locale.js"></script>
<!-- The main application script -->
<script src="../vendors/jQuery-File-Upload/js/main.js"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="js/cors/jquery.xdr-transport.js"></script><![endif]-->
<script type="text/javascript" src="jquery.form.js"></script>
<script type="text/javascript">
$().ajaxError(function(ev,xhr,o,err) {
    alert(err);
    if (window.console && window.console.log) console.log(err);
});


$(document).ready(function() {
    var options = {
        target:        '#output1',   // target element(s) to be updated with server response
        beforeSubmit:  showRequest,  // pre-submit callback
        success:       showResponse  // post-submit callback

        // other available options:
        //url:       url         // override for form's 'action' attribute
        //type:      type        // 'get' or 'post', override for form's 'method' attribute
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
        //clearForm: true        // clear all form fields after successful submit
        //resetForm: true        // reset the form after successful submit

        // $.ajax options can be used here too, for example:
        //timeout:   3000
    };

    // bind form using 'ajaxForm'
    $('#fileupload').ajaxForm(options);
});

// pre-submit callback
function showRequest(formData, jqForm, options) {
    // formData is an array; here we use $.param to convert it to a string to display it
    // but the form plugin does this for you automatically when it submits the data
    var queryString = $.param(formData);

    // jqForm is a jQuery object encapsulating the form element.  To access the
    // DOM element for the form do this:
//    var formElement = jqForm[0];

    //alert('About to submit: \n\n' + queryString);

    // here we could return false to prevent the form from being submitted;
    // returning anything other than false will allow the form submit to continue
    return true;
}

// post-submit callback
function showResponse(responseText, statusText)  {
    // for normal html responses, the first argument to the success callback
    // is the XMLHttpRequest object's responseText property

    // if the ajaxForm method was passed an Options Object with the dataType
    // property set to 'xml' then the first argument to the success callback
    // is the XMLHttpRequest object's responseXML property

    // if the ajaxForm method was passed an Options Object with the dataType
    // property set to 'json' then the first argument to the success callback
    // is the json data object returned by the server

    //alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +
    //    '\n\nThe output div should have already been updated with the responseText.');

    $('#db_response_dlg').modal({backdrop: 'static'}); 
    $('#db_response_dlg').modal('show'); 
    $('#db_response_dlg').on('hidden', function () {
    	window.location.reload();
	document.forms[0].reset();	
	window.scroll(0,0);
    });
}
</script>

<footer id="main-footer"></footer>

</body>
</html>
