{% include 'head.html' %}

<!-- styles and script for jQuery UI Sortable -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
    <style>
        #sortable1, #sortable2,  #sortable3 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
        #sortable1 li, #sortable2 li, #sortable3 li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
    </style>
    <script>
    $(function() {
        $( "#sortable1, #sortable2, #sortable3" ).sortable({
	            connectWith: ".connectedSortable"
		            }).disableSelection();

    $( "#tabs" ).tabs();
         $( "#sortable3" ).sortable({
	             items: "li:not(.ui-state-disabled)"
		             });
			      
                });

    </script>
    
    
{% include 'header.html' %}

<section id="main-content">

{% include '/admin/navbar.html.twig' %}

 
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Nunc tincidunt</a></li>
            <li><a href="#tabs-2">Proin dolor</a></li>
        </ul>
        <div id="tabs-1">
            <ul id="sortable1" class="connectedSortable ui-helper-reset">
                <li class="ui-state-default">Item 1</li>
                <li class="ui-state-default">Item 2</li>
                <li class="ui-state-default">Item 3</li>
                <li class="ui-state-default">Item 4</li>
                <li class="ui-state-default">Item 5</li>
            </ul>
        </div>
        <div id="tabs-2">
            <ul id="sortable2" class="connectedSortable ui-helper-reset">
                <li class="ui-state-highlight">Item 1</li>
                <li class="ui-state-highlight">Item 2</li>
                <li class="ui-state-highlight">Item 3</li>
                <li class="ui-state-highlight">Item 4</li>
                <li class="ui-state-highlight">Item 5</li>
            </ul>
        </div>
    </div>

    <br style="clear: both;" />

    <ul id="sortable3" class="connectedSortable">
        <li class="ui-state-default ui-state-disabled">ADD QUESTIONS HERE!!!!!!</li>
    </ul>

    <br style="clear: both;" />

 
</div><!-- close #main-content -->
</body>
</html>