{% include 'head.html' %}

<body>
{% include 'header.html' %}

<section id="main-content">

{% include '/admin/navbar.html.twig' %}
    <nav id="breadcrumb">
			
		<button class="btn">Add Assignment <i class="icon-plus-sign"></i></button>
		<div class="btn-group">
			<button class="btn">Assignment Results</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Assignment 1</a></li>
				<li><a href="#">Assignment 2</a></li>
				<li><a href="#">Assignment 3</a></li>
			</ul>
		</div>	
		<button class="btn">Add Question <i class="icon-plus-sign"></i></button>
		<button class="btn">All Questions</button>
			
	</nav>

<div class="accordion" id="accordion2">

	<section class="generic teal">
		<h1>Add a question</h1>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><span class="fill">Needs to be filled &raquo;</span> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">1. Add image/video - A</a></h1>
			</div>

			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Choose either a video or image to include on the first page of the question. </p>
					</div>

					<div class="fill-info">
						<p>Image: <button class="btn">Choose and upload &raquo;</button> <span class="icon-question-sign"></span> <span class="greyed">image myphysics01.jpg uploaded</span></p>
						<form class="form-search">
							<label>Youtube Video: </label>
						  <input type="text" class="input-medium search-query" placeholder="Copy and paste Youtube url here...">
						  <button type="submit" class="btn">Submit</button>  <span class="icon-question-sign"></span>
						</form>
					</div>

				</div>
			</div>

		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><span class="fill">Needs to be filled &raquo;</span><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">2. Add image/video - B (optional)</a></h1>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Choose either a video or image to include on the first page ot the question. </p>
					</div>

					<div class="fill-info">
						<p>Image: <button class="btn">Choose and upload &raquo;</button> <span class="icon-question-sign"></span> <span class="greyed">image myphysics01.jpg uploaded</span></p>
						<form class="form-search">
							<label>Youtube Video: </label>
						  <input type="text" class="input-medium search-query" placeholder="Copy and paste Youtube url here...">
						  <button type="submit" class="btn">Submit</button>  <span class="icon-question-sign"></span>
						</form>
					</div>

				</div>
			</div>
		</article>
		
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><span class="fill">Needs to be filled &raquo;</span><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Add Description</a></h1>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Describe here what the description should be. Because I don’t know.</p>
					</div>

					<div class="fill-info">
						<form>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
				</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Select Concept Elements</a></h1>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Select the correct corresponding elements as well as the full list of corresponding elements to display for the question </p>
					</div>

					<div class="fill-info">
                                   
                    <table>
                      <tr>
                        <td>
                          <label class="control-label">a) elements to display</label>
                          <div class="controls">
                            <select multiple="multiple" class="colored">
                              <!-- loop generates the list of all concepts in the concept table -->                
                              {% for concept in concepts %}                                                        
                              <option>{{ concept }}</option>	        						
                              {% endfor %}
                            </select>
                            <span class="icon-question-sign"></span>
                          </div>                          
                        </td>
                        <td>
                          <label class="control-label">b) correct elements</label>
                          <div class="controls"></div>
                            <select multiple="multiple" class="colored">                  
                                <!-- loop generates the list of all concepts in the concept table -->                
                                {% for concept in concepts %}                                                        
                                <option>{{ concept }}</option>	        						
                                {% endfor %}
                            </select>
                            <span class="icon-question-sign"></span>
                          </div>                            
                        </td>
                      </tr>
                    </table>
              

            
					</div>
			</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Define Correct Answer Variables</a></h1>
			</div>
			<div id="collapseFive" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Type element names required that do not appear in the above concept element lists. Comma delimited, no quotes.</p>
					</div>

					<div class="fill-info">
						<form>
							<label class="control-label">a) add new correct concept elements</label>
						  <textarea></textarea><span class="icon-question-sign"></span>

							<label class="control-label">b) add new concept elements to display</label>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
			</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Define correct answer variables</a></h1>
			</div>
			<div id="collapseSix" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">If required, type element names that do not appear in the elements to display list. Comma delimited, no quotes.</p>
					</div>

					<div class="fill-info">
						<label>Number of choices:</label>
							<select>
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>

						<form class="form-search">
							<label>Correct answer: </label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox4" value="option4"> 4
							</label>
						</form>

						<form class="form-search">
							<label>Second best answer: </label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox4" value="option4"> 4
							</label>
						</form>
					</div>
			</div>
			</div>
		</article>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">Add rationale</a></h1>
			</div>
			<div id="collapseSeven" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Type in the correction rationale for the question.</p>
					</div>

					<div class="fill-info">
						<form>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
			</div>
			</div>
		</article>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">Save question</a></h1>
			</div>
			<div id="collapseEight" class="accordion-body collapse in">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Click button to save your data and add you question to the All Questions List.</p>
					</div>

					<div class="fill-info">
						<button class="btn btn-success">Save question »</button>
					</div>
			</div>
			</div>
		</article>

	</section>
	
</div>
	
</section>

<footer id="main-footer"></footer>

</body>
</html>