{% include 'head.html' %}

<body>
{% include 'header.html' %}

<section id="main-content">

{% include '/admin/navbar.html.twig' %}


<div class="accordion" id="accordion2">

	<section class="generic teal">
		<h1>Add a question</h1>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Add image/video - A <span class="icon-share-alt"></span></a> <a href="#" rel="tooltip" title="*required field"><span class="fill">*</span></a></h1>
			</div>

			<div id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Choose either a video or image to include on the first page of the question. </p>
					</div>

					<div class="fill-info">
                                          <p><input type="radio" name="media1" value="Image"> Image: <input type="file" name"media1" placeholder="Choose and upload &raquo;"></input> <span class="icon-question-sign"></span> <span class="greyed">image myphysics01.jpg uploaded</span></p>
                                          
                                          <p style="display: inline;"><input type="radio" name="media1" value="Image"></p>
                                          <form class="form-search" style="display: inline;">
                                            <label> Youtube Video: </label>
                                            <input type="text" class="input-medium search-query" placeholder="Copy and paste Youtube url here...">
                                            <button type="submit" class="btn">Submit</button>  <span class="icon-question-sign"></span>
                                          </form>
					</div>

				</div>
			</div>

		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Add image/video - B  <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Choose either a video or image to include on the first page ot the question. </p>
					</div>

					<div class="fill-info">
						<p>Image: <button class="btn">Choose and upload &raquo;</button> <span class="icon-question-sign"></span> <span class="greyed">image myphysics01.jpg uploaded</span></p>
						<form class="form-search">
							<label>Youtube Video: </label>
						  <input type="text" class="input-medium search-query" placeholder="Copy and paste Youtube url here...">
						  <button type="submit" class="btn">Submit</button>  <span class="icon-question-sign"></span>
						</form>
					</div>

				</div>
			</div>
		</article>
		
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Add Description <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Describe here what the description should be. Because I don’t know.</p>
					</div>

					<div class="fill-info">
						<form>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
				</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Select Concept Tags <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Select the correct corresponding tags as well as the full list of tags to be displayed for the question </p>
					</div>

					<div class="fill-info">
                                   
                          <label class="control-label">a) tags to display</label>
                          <div class="controls">
                              <select multiple="multiple" class="colored">
				{% for concept in concepts %}
                                      <option value="{{concept}}">{{concept}}</option>> 
                                {% endfor %}
                              </select>
                              <span class="icon-question-sign"></span>
                          </div> 
                          <label class="control-label">b) correct tags</label>
                          <div class="controls">
                              <select multiple="multiple" class="colored">
				{% for concept in concepts %}
                                      <option value="{{concept}}">{{concept}}</option>> 
                                {% endfor %}
                              </select>
                              <span class="icon-question-sign"></span>
                          </div> 
                          



                                        </div>
                                </div>
                        </div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">Add new concept tags <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseFive" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Type element names required that do not appear in the above concept tag lists. Comma delimited, no quotes.</p>
					</div>

					<div class="fill-info">
						<form>
							<label class="control-label">a) add new correct concept elements</label>
						  <textarea></textarea><span class="icon-question-sign"></span>

							<label class="control-label">b) add new concept elements to display</label>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
			</div>
			</div>
		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Define correct answer variables <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseSix" class="accordion-body collapse">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Here you define the answer variables so that they correspond to the image for the question. You first define whether the answers are alpha or numeric, then the number of choices and finally the correct answer.</p>
					</div>
                                  
					<div class="fill-info">
                                          <div style="margin-bottom: 5px;"><label style="display: inline">Select answer style</label>: <input type="radio" name="media1" value="alpha"> alpha (a,b,c) | <input type="radio" name="media1" value="numeric"> numberic (1,2,3)</div>
						<label style="display: inline;">Number of choices:</label>
                                                <select style="width: 50px;">
							  <option>1</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>

						<form class="form-search">
							<label>Correct answer: </label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox4" value="option4"> 4
							</label>
						</form>

						<form class="form-search">
							<label>Second best answer: </label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
							<label class="checkbox inline">
							  <input type="checkbox" id="inlineCheckbox4" value="option4"> 4
							</label>
						</form>
					</div>
			</div>
			</div>
		</article>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">Add rationale <span class="icon-share-alt"></span></a></h1>
			</div>
			<div id="collapseSeven" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="context">
						<p class="greyed">Type in the corect rationale for the question.</p>
					</div>

					<div class="fill-info">
						<form>
						  <textarea></textarea><span class="icon-question-sign"></span>
						</form>
					</div>
			</div>
			</div>
		</article>

		<article class="accordion-group">
			<div class="accordion-heading">
				<h1><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">Save question</a></h1>
			</div>
			<div id="collapseEight" class="accordion-body collapse in">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed">Click button to save your data and add you question to the All Questions List.</p>
					</div>

					<div class="fill-info">
						<button class="btn btn-success">Save question »</button>
					</div>
			</div>
			</div>
		</article>

	</section>
	
</div>
	
</section>

<footer id="main-footer"></footer>

</body>
</html>
