{% include 'head.html' %}

<body>
{% include 'header.html' %}

<section id="main-content">

{% include '/admin/navbar.html.twig' %}


<div class="accordion" id="accordion2">

	<section class="generic teal">
		<h1>Add a course</h1>

            	<article class="accordion-group">
			<div class="accordion-heading">
				<h1>Course name</h1>
			</div>

			<div id="collapseOne" class="accordion-body collapse in">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed"></p>
					</div>
                                        <div class="fill-info">					
						<form class="form-search">
                                                    <input type="text" class="input-medium search-query" placeholder="">
						</form>
					</div>
				</div>
			</div>

		</article>
		
		<article class="accordion-group">
			<div class="accordion-heading">
                            <h1>Students</h1>                                
			</div>
			<div id="collapseTwo" class="accordion-body collapse in">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed"></p>
					</div>

					<div class="fill-info">
						<p><strong>Students List</strong></p>
                                                <button class="btn">Choose and upload &raquo;</button><span class="greyed">Student list uploaded</span>	
                                                <p><a href="#"><em>Get a blank Students-List CSV template file</em></a></p>
					</div>
				</div>
			</div>
		</article>
		<article class="accordion-group">
			<div class="accordion-heading">
				<h1>Save Course</h1>
			</div>
			<div id="collapsethree" class="accordion-body collapse in">
				<div class="accordion-inner">

					<div class="context">
						<p class="greyed"></p>
					</div>

					<div class="fill-info">
						<button class="btn btn-success">Save course »</button>
					</div>
			</div>
			</div>
		</article>

	</section>
	
</div>
	
</section>

<footer id="main-footer"></footer>

</body>
</html>
