{% include 'head.html' %}

<body>
{% include 'header.html' %}

<section id="main-content">
	
	{% include '/admin/navbar.html.twig' %}
	
	<article class="generic teal">
		<h1>Assignment Results</h1>
		<ul class="results">
			<li><a href="#">Interference &amp; Thin Films CL</a></li>
			<li><a href="#">Interference and Thin Films KL</a></li>
			<li><a href="#">Focus group 1 May 2 2012, prof. Chris Whittaker</a></li>
			<li><a href="#">Interference &amp; Thin Films CL</a></li>
			<li><a href="#">Interference and Thin Films KL</a></li>
			<li><a href="#">Focus group 1 May 2 2012, prof. Chris Whittaker</a></li>
			<li><a href="#">Interference &amp; Thin Films CL</a></li>
		</ul>
	</article>
	
	<article class="generic teal">
		<h1><a href="#">Add a Question<span></span></a></h1>
	</article>
	
	<article class="generic teal">
		<h1><a href="#">All Question List<span></span></a></h1>
	</article>
	
</section>

<footer id="main-footer"></footer>

</body>
</html>
