{% include 'head.html.twig' %}

{% include 'header.html.twig' %}

<section id="main-content">
	
	{% include '/admin/navbar.html.twig' %}
	
	<article class="generic teal">
		<h1>Your Assignments</h1>
		<ul class="results">
			<li><a href="#">Interference &amp; Thin Films CL</a>, Course Name</li>
			<li><a href="#">Interference and Thin Films KL</a>, Course Name</li>
			<li><a href="#">Focus group 1 May 2 2012</a>, Course Name</li>
			<li><a href="#">Interference &amp; Thin Films CL</a>, Course Name</li>
			<li><a href="#">Interference and Thin Films KL</a>, Course Name</li>
			<li><a href="#">Focus group 1 May 2 2012</a>, Course Name</li>
			<li><a href="#">Interference &amp; Thin Films CL</a>, Course Name</li>
		</ul>
	</article>
	
	
	
</section>

<footer id="main-footer"></footer>

</body>
</html>
