<!--
navbar.html.twig
-->
        <nav id="breadcrumb">
			
            <button class="btn"><a href="admin/add-assignment.html.twig">Add Assignment</a> <i class="icon-plus-sign"></i></button>
		<div class="btn-group">
			<button class="btn">Assignment Results</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
                            <li><a href="admin/assignment-results.html.twig">Assignment 1</a></li>
                            <li><a href="admin/assignment-results.html.twig">Assignment 2</a></li>
                            <li><a href="admin/assignment-results.html.twig">Assignment 3</a></li>
			</ul>
		</div>	
            <button class="btn"><a href="admin/add-question.html.twig">Add Question</a> <i class="icon-plus-sign"></i></button>
            <button class="btn"><a href="admin/all-questions.html.twig">All Questions</a></button>
			
	</nav>
