<!--
navbar.html.twig
-->
        <nav id="breadcrumb">
			
		<button class="btn">Add Assignment <i class="icon-plus-sign"></i></button>
		<div class="btn-group">
			<button class="btn">Assignment Results</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Assignment 1</a></li>
				<li><a href="#">Assignment 2</a></li>
				<li><a href="#">Assignment 3</a></li>
			</ul>
		</div>	
		<button class="btn">Add Question <i class="icon-plus-sign"></i></button>
		<button class="btn">All Questions</button>
			
	</nav>
