{% include 'head.html' %}

<body>
{% include 'header.html' %}

<section id="main-content">
	
	<nav id="breadcrumb">
			
		<button class="btn">Professor Main Page</button>
		<div class="btn-group">
			<button class="btn">Assignment Results</button>
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Some action</a></li>
				<li><a href="#">Some action</a></li>
				<li><a href="#">Some action</a></li>
			</ul>
		</div>	
		<button class="btn">Add a Question <i class="icon-plus-sign"></i></button>
		<button class="btn">All Questions List</button>
			
	</nav>
	
	<article class="generic teal">
		<h1>Assignment Results</h1>
		<ul class="results">
			<li><a href="#">Interference &amp; Thin Films CL</a></li>
			<li><a href="#">Interference and Thin Films KL</a></li>
			<li><a href="#">Focus group 1 May 2 2012, prof. Chris Whittaker</a></li>
			<li><a href="#">Interference &amp; Thin Films CL</a></li>
			<li><a href="#">Interference and Thin Films KL</a></li>
			<li><a href="#">Focus group 1 May 2 2012, prof. Chris Whittaker</a></li>
			<li><a href="#">Interference &amp; Thin Films CL</a></li>
		</ul>
	</article>
	
	<article class="generic teal">
		<h1><a href="#">Add a Question<span></span></a></h1>
	</article>
	
	<article class="generic teal">
		<h1><a href="#">All Question List<span></span></a></h1>
	</article>
	
</section>

<footer id="main-footer"></footer>

</body>
</html>
