
{% for concept in all_concepts %} 
    {% if concept is iterable %}
        <li><a href="#">{{concept[0]}}</a>
        <ul>
        {% include "/concept-tags.html.twig" with {'all_concepts': concept[1]} %}
        </ul>
        </li>
    {% else %}
        <li><label for="{{concept}}">
            <input type="checkbox" name="concepts" id="{{concept}}" style="vertical-align: middle;" />
            <span style="vertical-align: middle;">{{concept}}</span></label></li>
    {% endif %}
{% endfor %}