</head>
<body>

<section id="header">
	<header>
		<hgroup>
			<h1 title="Dalite"><a href="/"><span>D</span><span>a</span><span>l</span><span>i</span><span>t</span><span>e</span></a></h1>
			<h2 title="Access to Learning and Interactive Technologies">Access to Learning and Interactive Technologies</h2>
		</hgroup>
	</header>
	
	<div class="btn-group drop-log-out">
          <p style="color: #dbdbdb">
              {% if student %}
              You are logged in as {{ student['firstname'] }} {{ student['lastname'] }} <a href="/reset"><b>logout</b></a>
              {% else %}
              You are not logged in.
              {% endif %}
          </p>
          <button class="btn"><i class="icon-cog"></i></button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
                  <li><a href="/admin">admin</a></li>
                  <li><a href="/reset">logout</a></li>                  
          </ul>
	</div>
</section>

<div class="clear"></div>

<div class="modal hide fade" id="modal-message-dlg">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a><h3>&nbsp;</h3>
  </div>  
  <div class="modal-body" id="modal-message">  
    <h4>{{ message_dlg }}</h4>
  </div>
  <div class="modal-footer"><a href="#" class="btn btn-primary" data-dismiss="modal">Close</a></div>
</div>
