</head>
<body>

<section id="header">
	<header>
		<hgroup>
			<h1 title="Dalite"><a href="index.html"><span>D</span><span>a</span><span>l</span><span>i</span><span>t</span><span>e</span></a></h1>
			<h2 title="Access to Learning and Interactive Technologies">Access to Learning and Interactive Technologies</h2>
		</hgroup>
	</header>
	
	<div class="btn-group drop-log-out">
          <p style="color: #dbdbdb">You are logged in as {{ student['firstname'] }} {{ student.lastname }} <a href="#">logout</a></p>
		<button class="btn"><i class="icon-cog"></i></button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>Option 1</li>
			<li>Option 2</li>
			<li>Option 3</li>
		</ul>
	</div>
</section>

<div class="clear"></div>