{% include 'head.html.twig' %}
{% include 'header.html.twig' %}

<section id="main-content">

	<section id="login">
		<h1>Login</h1>

		<form action="/" method="POST" class="form">
			<fieldset>
				
				<div class="aligner">
					<label for="username" class="fLeft">Username</label>
					<div class="div_text">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user"></i></span>
							<input name="log" type="text" id="log inputIcon" value="" class="username span2" />
						</div>
					</div>

					<div class="clear"></div>
					
					<label for="password" class="fLeft">Password</label>
					<div class="div_text">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>
							<input name="pwd" type="password" id="pwd inputIcon" class="password span2" />
						</div>
					</div>
                                </div>
				
				<div class="clear"></div>

				<div class="button_div">
					<input type="submit" value="Login" class="btn btn-primary" />
                                </div>
				<div class="clear"></div>
			</fieldset>
		</form>
	</section>

</section>
<div id="login-cc" style="width: 100%; text-align: center;"><a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode"><img src="/img/cc.logo.large.png" /></a></div>
<footer id="main-footer"></footer>

</body>
</html>
