<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>DALITE</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="scripts/generic.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-collapse.js"></script>
	<!--[if lte IE 9]>
		<script type="text/javascript" src="scripts/mootools-core-1.4.5-full-nocompat.js"></script>
		<script type="text/javascript" src="scripts/selectivizr-min.js"></script>
		<script type="text/javascript" src="scripts/modernizr.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				 filter: none;
			}
		</style>
	<![endif]-->
</head>
<body>

<section id="header">
	<header>
		<hgroup>
			<h1 title="Dalite"><a href="index.html"><span>D</span><span>a</span><span>l</span><span>i</span><span>t</span><span>e</span></a></h1>
			<h2 title="Access to Learning and Interactive Technologies">Access to Learning and Interactive Technologies</h2>
		</hgroup>
	</header>
	
	<div class="btn-group drop-log-out">
		<p><a href="#">logout</a></p>
		<button class="btn"><i class="icon-cog"></i></button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>Option 1</li>
			<li>Option 2</li>
			<li>Option 3</li>
		</ul>
	</div>
</section>

<div class="clear"></div>

<section id="main-content">

	<section id="login">
		<h1>Login</h1>

		<form action="http://rocketgeek.com/filter-hooks/bootstrap-icons-for-the-login-form/" method="POST" class="form">
			<fieldset>
				
				<div class="aligner">
					<label for="username" class="fLeft">Username</label>
					<div class="div_text">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-user"></i></span>
							<input name="log" type="text" id="log inputIcon" value="" class="username span2" />
						</div>
					</div>

					<div class="clear"></div>
					
					<label for="password" class="fLeft">Password</label>
					<div class="div_text">
						<div class="input-prepend">
							<span class="add-on"><i class="icon-lock"></i></span>
							<input name="pwd" type="password" id="pwd inputIcon" class="password span2" />
						</div>
					</div>
					<input type="hidden" name="redirect_to" value="http://rocketgeek.com/filter-hooks/bootstrap-icons-for-the-login-form/" /><input name="a" type="hidden" value="login" />
				</div>
				
				<div class="clear"></div>

				<div class="button_div">
					<input name="rememberme" type="checkbox" id="rememberme" value="forever" />&nbsp;Remember me&nbsp;&nbsp;<input type="submit" name="Submit" value="Login" class="btn btn-primary" /></div>
				<div class="clear"></div>
				<div>Forgot password?&nbsp;<a href="http://rocketgeek.com/user-settings/?a=pwdreset">Click here to reset</a></div>
				<div>New User?&nbsp;<a href="http://rocketgeek.com/register/">Click here to register</a></div>	
				<div class="clear"></div>
			</fieldset>
		</form>


	</section>

</section>

<footer id="main-footer"></footer>

</body>
</html>