{% include 'head.html' %}
{% include 'header.html' %}
{% include 'init.twig' %}

{% set q = question[question_num] %}
<section id="main-content">
  {% include 'question-header.html.twig' with {'class': 'question part-2'} %}
    <section class="question">
      <div class="img-upload">
            {% include 'media.html.twig' with {'media': q['media1'], 'type': 'image'} %}
      </div>
        {% include 'form-begin.html.twig' with {'action': '/question-part2'} %}
            <div class="control-group">
              <p>1. Check the corresponding elements that you thought were important in answering the question:</p>
              
              <!-- loop generates a list of concepts with check box defined in assignment_concepts -->
              {% set i = 0 %}
              {% for concept in q['concepts'] %}
                <label class="checkbox">
                  <input type="checkbox" name="tag{{ i }}" value="{{ concept }}">
                    {{ concept }}	
                </label>
              {% set i = i+1 %}
              {% endfor %}
            </div>
        {% include 'form-end.html.twig' %}

      <div class="clear"></div>
    </section>

  </article>
</section>

{% include 'footer.html' %}
