{% include 'head.html' %}
<body>
{% include 'header.html' %}


<div class="clear"></div>
<section id="main-content">

  <article class="question part-3">
    <header>
      <hgroup>
        <h1>Question {{ questioncount }}</h1>
        <h2>{{ assignment['title'] }}  <!--note it would be good to put prof name here in next iteration--></h2>
      </hgroup>
    </header>

    <section class="question">
      <div class="img-upload">
        {% if media1['type'] == 'jpeg'  %}
            <img src="https://edu8.ca/trunk/img-uploads/{{ media1['data'] }}" alt="Image Upload" />
          {% elseif media1['type'] == 'youtube'  %}
            <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ media1['data'] }}" frameborder="0" allowfullscreen></iframe>
          {% else  %}
            <p>no image or video</p>
        {% endif %}
      </div>

      <div class="answer-form">
        <div class="control-group question">
          <p>4.Consider the problem again, noting the rationales that have been provided by other students. They may, or may not, cause you to reconsider your answer. Read them, and select your final answer...</p>
        </div>
      </div>
      <div class="clear"></div>

      <div class="left standalone-rationale">
        <article>
          <h2><span>Is the answer ? </span></h2>
          
          <p>The solution of problems is one of the lowest forms of mathematical research, ...yet its educational value cannot be overestimated. It is the ladder by which the mind ascends into higher fields of original research and investigation. Many dormant minds have been aroused into activity through the mastery of a single problem.</p>            
          <p>The solution of problems is one of the lowest forms of mathematical research, ...yet its educational value cannot be overestimated. It is the ladder by which the mind ascends into higher fields of original research and investigation. Many dormant minds have been aroused into activity through the mastery of a single problem.</p>
        </article>
        <div class="center">
                <button class="btn btn-primary">Choose 3&nbsp;&raquo;</button>
        </div>
      </div>

      <div class="right standalone-rationale">
        <article>
          <h2><span>Is the answer ?</span></h2>
          <p>{{ question['rationale_best1'] }}</p>
          <p>{{ question['rationale_best2'] }}</p>
        </article>
        <div class="center">
          <button class="btn btn-primary next-page"><href="question-part4/">Next page&nbsp;&raquo;</a></button>
		</div>
      </div>
    <div class="clear"></div>
    </section>

  </article>
</section>
{% include 'footer.html' %}