{% include 'head.html.twig' %}
{% include 'header.html.twig' %}
{% include 'init.twig' %}
{% import 'media.html.twig' as media %}
{% set q = question[question_num] %}

<section id="main-content">

    {% include 'question-header.html.twig' with {'class': 'question part-4'} %}

    <section class="question">
      <div class="img-upload">
            {% include 'media.html.twig' with {'media': q['media1'], 'type': 'image'} %}
      </div>

      <div class="answer-form">
        <article class="student-rationale">
          <!--<h2>Your rationale</h2>-->
          <h2>You answered: {{ request['answer'] }}</h2>
          <p>{{request['student_rationale']}}</p>
          <!--<h2>Your answer was:  request['answer'] }}</h2>-->
        </article>
        <table class="table regular-table">
          <tbody>
            <tr>                        
              <td style="border-right: 0 !important;"><label style="font-size: 16px;">Your first and second answers</label></td>
              <td style="border-right: 0 !important; padding: 6px 15px !important;"><a href="#" class="red" style="padding: 9px 12px;">A.</a></td>
              <td style="border-right: 0 !important; padding: 6px 15px !important;"><a href="#" class="green" style="padding: 9px 12px;">B.</a></td>
            </tr>
          </tbody>
        </table> 
        <article class="correct-rationale">
          <h2><span>Example of good rationale</span></h2>
          <p>{{ q['rationale'] }}</p>
        </article>
        <a href="/question-part1"><button class="btn btn-primary next-page margin-bottom-20">OK&nbsp;&raquo;</button></a>
      </div>
      <div class="clear"></div>
    </section>

  </article>
</section>
{% include 'footer.html' %}
