<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>DALITE</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="scripts/generic.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-collapse.js"></script>
	<!--[if lte IE 9]>
		<script type="text/javascript" src="scripts/mootools-core-1.4.5-full-nocompat.js"></script>
		<script type="text/javascript" src="scripts/selectivizr-min.js"></script>
		<script type="text/javascript" src="scripts/modernizr.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				 filter: none;
			}
		</style>
	<![endif]-->
</head>
<body>

<section id="header">
	<header>
		<hgroup>
			<h1 title="Dalite"><a href="index.html"><span>D</span><span>a</span><span>l</span><span>i</span><span>t</span><span>e</span></a></h1>
			<h2 title="Access to Learning and Interactive Technologies">Access to Learning and Interactive Technologies</h2>
		</hgroup>
	</header>
	
	<div class="btn-group drop-log-out">
		<p><a href="#">logout</a></p>
		<button class="btn"><i class="icon-cog"></i></button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>Option 1</li>
			<li>Option 2</li>
			<li>Option 3</li>
		</ul>
	</div>
</section>

<div class="clear"></div>

<section id="main-content">

	<article class="question part-4">
		<header>
			<hgroup>
				<h1>Question 1</h1>
				<h2>Start Physics Run > Focus group 1 May 2 2012, prof. Chris Whittaker</h2>
			</hgroup>
		</header>
		
		<section class="question">
			<div class="img-upload">
				<img src="img-uploads/dummy-01.jpg" alt="Image Upload" />
			</div>
			
			<div class="answer-form">
				<article class="correct-rationale">
					<h2><span>The correct rationale:</span></h2>
					<p>Everything should be made as simple as possible, but not simpler.</p>
				</article>

				<article class="student-rationale">
					<h2>Your rationale</h2>
					<p>The solution of problems is one of the lowest forms of mathematical research, ...yet its educational value cannot be overestimated. It is the ladder by which the mind ascends into higher fields of original research and investigation. Many dormant minds have been aroused into activity through the mastery of a single problem.</p>
					<h2>Your answer was: 3</h2>
				</article>
				<button class="btn btn-primary next-page margin-bottom-20">OK&nbsp;&raquo;</button>
			</div>
			<div class="clear"></div>
		</section>
		
	</article>
</section>

<footer id="main-footer"></footer>

</body>
</html>