{% include 'head.html' %}
{% include 'header.html' %}
{% import 'media.html.twig' as media %}
{% set q = question[question_num] %}

<section id="main-content">
    {% include 'question-header.html.twig' with {'class': 'question part-2'} %}
    <section class="question">
         <div class="img-upload">
            {% include 'media.html.twig' with {'media': q['media1'], 'type': 'image'} %}
        </div>

        {% include 'form-begin.html.twig' with {'action': '/question-part3'} %}
            <div class="control-group question">
              <div id="error_answer alphanumeric"></div>
              <p>2. Select the correct answer:</p>
              {% if q['alpha'] == 0 %}
                {% for count in 1..q['num_choice'] %}
                    <label class="checkbox">
                      <input type="radio" name="answer" value="{{ count }}">
                    {{ count }}
                    </label>
                {% endfor %}
              {% endif %}
              {% if q['choice_type'] == 'alpha' %}
                {% for count in 1..q['num_choice'] %}
                    <label class="checkbox">
                      <input type="radio" name="answer" value="{{ count }}">
                    {{ alpha[count] }}
                    </label>
                {% endfor %}
              {% endif %}

            </div>
          </fieldset>

            <div id="error_rationale"></div>
            <p>3. Provide a rationale for the answer that you chose above:</p>
            <textarea id="student_rationale" name="student_rationale" class="student-rationale-textbox"></textarea>
            {% include 'form-end.html.twig' %}
          </div>

        <script>
        function validateform(){

            if(!$("input:checked").length){
                $("#error_answer").html('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>Choose an answer.  </div>');
                return false;
            }        
            if($("#student_rationale").val().length < 20){
                $("#error_rationale").html('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>Rationale too short.</div>');
                return false;
            }

            return true;
        }
        </script>


      <div class="clear"></div>
    </section>

  </article>
</section>

{% include 'footer.html' %}
