{% include 'head.html.twig' %}
{% include 'header.html.twig' %}
{% include 'init.twig' %}

{% set q = question[question_num] %}
<section id="main-content">
  {% include 'question-header.html.twig' with {'class': 'question part-1'} %}
    <section class="question">
    <div id="error_msg"></div>
      <div class="img-upload">
            {% include 'media.html.twig' with {'media': q['media1'], 'type': 'image'} %}
      </div>
        {% include 'form-begin.html.twig' with {'action': '/question-part2'} %}
            <div class="control-group">
              <p>1. Check the concepts that you think are important in answering the question:</p>
            <div id="error_answer"></div>      
              <!-- loop generates a list of concepts with check box defined in assignment_concepts -->
              {% set i = 0 %}
              {% for concept in q['concepts'] %}
                <label class="checkbox">
                  <input type="checkbox" name="tag{{ i }}" value="{{ concept }}">
                    {{ concept }}	
                </label>
              {% set i = i+1 %}
              {% endfor %}
            </div>
        {% include 'form-end.html.twig' %}
        <script>
        function validateform(){
            var inputs = document.getElementsByTagName('input');
            var input_checked = false;
            
            for(var i = 0; i < inputs.length; i++) {
                if(inputs[i].checked == true) {
                   input_checked = true; 
                }
            }
            
            if(input_checked == false) {
                document.getElementById('error_answer').innerHTML = 
                '<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>Select at least one.</div>';
            }
            
            return input_checked;
        }
        </script>
      <div class="clear"></div>
    </section>

  </article>
</section>

{% include 'footer.html' %}
