<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>DALITE</title>
	<link rel="stylesheet" href="css/normalize.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="scripts/generic.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-collapse.js"></script>
	<!--[if lte IE 9]>
		<script type="text/javascript" src="scripts/mootools-core-1.4.5-full-nocompat.js"></script>
		<script type="text/javascript" src="scripts/selectivizr-min.js"></script>
		<script type="text/javascript" src="scripts/modernizr.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
		<style type="text/css">
			.gradient {
				 filter: none;
			}
		</style>
	<![endif]-->
</head>
<body>

<section id="header">
	<header>
		<hgroup>
			<h1 title="Dalite"><a href="index.html"><span>D</span><span>a</span><span>l</span><span>i</span><span>t</span><span>e</span></a></h1>
			<h2 title="Access to Learning and Interactive Technologies">Access to Learning and Interactive Technologies</h2>
		</hgroup>
	</header>
	
	<div class="btn-group drop-log-out">
		<p><a href="#">logout</a></p>
		<button class="btn"><i class="icon-cog"></i></button>
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li>Option 1</li>
			<li>Option 2</li>
			<li>Option 3</li>
		</ul>
	</div>
</section>

<div class="clear"></div>

<section id="main-content">

	<article class="question part-2">
		<header>
			<hgroup>
				<h1>Question 1</h1>
				<h2>Focus group 1 May 2 2012, prof. Chris Whittaker</h2>
			</hgroup>
		</header>
		
		<section class="question">
			<div class="img-upload">
				<img src="img-uploads/dummy-01.jpg" alt="Image Upload" />
			</div>
			
			<div class="answer-form">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group question">
							<p>2. Select the correct answer:</p>
							<label class="checkbox">
								<input type="radio" name="optionsCheckboxList1" value="option1">
								1
							</label>
							<label class="checkbox">
								<input type="radio" name="optionsCheckboxList2" value="option1">
								2
							</label>
							<label class="checkbox">
								<input type="radio" name="optionsCheckboxList3" value="option1">
								3
							</label>
							<label class="checkbox">
								<input type="radio" name="optionsCheckboxList4" value="option1">
								4
							</label>
							<label class="checkbox">
								<input type="radio" name="optionsCheckboxList4" value="option1">
								5
							</label>
						</div>
					</fieldset>

					<fieldset>
						<p>3. Provide a reasoning for the answer that you chose above:</p>
						<textarea class="answer"></textarea>
					</fieldset>

				</form>
				<button class="btn btn-primary next-page">Next page&nbsp;&raquo;</button>
			</div>
			<div class="clear"></div>
		</section>
		
	</article>
</section>

<footer id="main-footer"></footer>

</body>
</html>