{% include 'head.html.twig' %}
{% include 'header.html.twig' %}
{% include 'init.twig' %}
{% import 'media.html.twig' as media %}
{% set q = question[question_num] %}

<section id="main-content">

    {% include 'question-header.html.twig' with {'class': 'question part-4'} %}

    <section class="question">
      <div class="img-upload">
            {% include 'media.html.twig' with {'media': q['media1'], 'type': 'image'} %}
      </div>

      <div class="answer-form">
        <article class="student-rationale">
          <h2>Your answered: <span class="red" style="background-color: #FF0000; border-radius: 5px 5px 5px 5px; clear: none; display: inline-block; height: 14px; line-height: 1em; margin-right: 6px; padding: 9px 12px; width: 11px;">1</span><span class="green" style="background-color: #008000; border-radius: 5px 5px 5px 5px; clear: none; display: inline-block; height: 14px; line-height: 1em; padding: 9px 12px; width: 11px;">{{ request['answer'] }}</span></h2>
          <p>{{request['student_rationale']}}</p>
        </article>
        
        <article class="correct-rationale">
          <h2><span>Example of good rationale</span></h2>
          <p>{{ q['rationale'] }}</p>
        </article>
        <a href="/question-part1"><button class="btn btn-primary next-page margin-bottom-20">OK&nbsp;&raquo;</button></a>
      </div>
      <div class="clear"></div>
    </section>

  </article>
</section>
{% include 'footer.html' %}
